<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance : Shivam Rana</title>
</head>
<style>

    th{
        background-color: rgb(255, 183, 94);
    }
    tr:nth-child(2n){
        background-color: bisque;
        text-align: center;
    }
    tr:nth-child(2n + 1){
        background-color: rgb(238, 228, 215);
        text-align: center;
    }
    td, th{
        padding: 10px 40px;
    }
    #handler, form, form select{
        margin: 20px auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color:gray;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>
<body>

    <center>
    <h1>Attendance: Shivam Rana</h1>
    <div id="content">
        <form method="get">
            <label for="month">Months</label>
            <select name="mn" id="month" onchange="submit()">
                <% if(month == 12){ %>
                    <option value="12" selected>December</option>
                    
                <% } else { %>
                    <option value="12">December</option>
                <% } %>

                <% if(month == 1){ %>
                    <option value="1" selected>January</option>
                <% } else { %>
                    <option value="1">January</option>
                <% } %>

                <% if(month == 2){ %>
                    <option value="2" selected>February</option>
                    <% } else { %>
                    <option value="2">February</option>
                <% } %>
                <input type="hidden" value="pid= <%= pid %>" name="pid">

            </select>
        </form>

        <table>
            <thead>

                <% function changeSign(pid, month, field, order, arrow){ %>
                    <% pid = 1 %>
                    <th><a href="/studentresult/<%= pid %>/<%= month %>/?field=<%= `${field}` %>&order=<%= `${order}` %>"><%= field %><span><i class="<%=` ${arrow} `%>"></i></span></a></th>

                <% } %>

                <% if(order == "desc" && field=="student_id"){ %>
                    <% changeSign(pid, month, "student_id", "asc", "arrow down") %>
                <% } else { %>
                    <% changeSign(pid, month, "student_id", "desc", "arrow up") %>                    
                <% } %> 
                
                <% if(order == "desc" && field == "s.name"){ %>
                    <% changeSign(pid, month, 's.fname', "asc", "arrow down") %>
                <% } else { %>
                    <% changeSign(pid, month, "s.fname", "desc", "arrow up") %>                    
                <% } %> 
                

                <% if(order == "desc" && field == "aday"){ %>
                    <% changeSign(pid, month, "aday", "asc", "arrow down") %>                    
                <% } else { %>
                    <% changeSign(pid, month, "aday", "desc", "arrow up") %>                   
                    
                <% } %>

                <% if(order == "desc" && field == "percentage"){ %>
                    <% changeSign(pid, month, "percentage", "asc", "arrow down") %>                    
                <% } else { %>
                    <% changeSign(pid, month, "percentage", "desc", "arrow up") %>                    
                <% } %>
            </thead>
            <tbody>
                <% for(let i=0; i<result.length; i++){ %>
                    <tr>
                        <td><%= result[i].student_id %></td>
                        <td><%= result[i].fname %></td>
                        <td><%= result[i].aday %></td>
                        <td><%= result[i].percentage %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div id="handler">

        <%  if(pid == 1){ %>
            <<
            <
        <% } else { %>
            <a href="/studentresult/<%= 1 %>/<%= month %>/?field=<%= `${field}` %>&order=<%= `${order}` %>"><<</a>
            <a href="/studentresult/<%= +pid - 1 %>/<%= month %>/?field=<%= `${field}` %>&order=<%= `${order}` %>"><</a>
    
        <% } %>
    
        <%= pid %>
    
        <%  if(pid == 20){ %>
            >
            >>
        <% } else { %>
            <a href="/studentresult/<%= +pid + 1 %>/<%= month %>/?field=<%= `${field}` %>&order=<%= `${order}` %>">></a>
            <a href="/studentresult/<%= pid = 20 %>/<%= month %>/?field=<%= `${field}` %>&order=<%= `${order}` %>">>></a>
    
        <% } %>
      
    </div>
</center>    
</body>
</html>

<!-- problem  -->
<!-- pagination working fine -->
<!-- while applying sorting it will only sort the data of the current page rather than whole data set -->
<!-- how shold it behave ? the ans is it shold apply algorith to all page and sort acc -->
<!-- it's changes sign of all fileds while applying the sorting -->